.container {
    /* overflow: hidden; */
    padding-left: 5%;
    background-color: transparent;
    /* border-left: 7px solid;
    border-image: linear-gradient(lightsalmon, tomato);
    border-image-slice: 1; */
    background-image: url("./../../../assets/logo-no-backgroundup.png");
  
    background-repeat: no-repeat;
  
    height: 80vh;
    margin-top: 10%;
    width: 40vw;
    display: flex;
    flex-direction: column;
    padding-top: 5vh;
  }
  
  .message-container {
      /* overflow: hidden; */
      padding-left: 2%;
      padding-bottom: 2%;
      flex-grow: 1;
      display: flex;
      overflow-y: auto;
      flex-direction: column;
      justify-content: flex-end;
  }
  
  .input-container {
    padding: 10px;
  }
  
  .message {
    width: 100%;
    display: flex;
    margin: 10px 0px;
    -webkit-animation: slidein-bottom 0.5s linear; 
    animation: slidein-bottom 0.5s linear;
  }
  
  .bubble {
    padding: 10px;
    border-radius: 10px;
  }
  
  .avatar{
    height: 40px;
    width: 40px;
    margin-right: 6px;
  }
  
  .user-message {
    padding-right: 10%;
    justify-content: flex-end;
  }
  
  .user-message > .bubble {
    background-color: rgb(41, 89, 134);
    color: white;
  }
  
  .system-message > .bubble {
    background-color: rgb(255, 255, 255);
  }
  
  .submit-container {
    display: flex;
    justify-content: center;
  }
  
  @keyframes slidein-bottom {
    0% {
      margin-bottom: 30px;
      margin-top: -10px;
      opacity: 0;
    }
    90% {
      margin-bottom: 10px;
      margin-top: 10px;
    }
    100% {
      opacity: 1;
    }
  }